ion-icon.sport {
  display: inline;
  &.baseball {
    color: #e53935;
  }
  &.basketball {
    color: #fb8c00;
  }
  &.american-football {
    color: #795548;
  }
  &.football {
    color: #212121;
  }
  &.tv {
    color: #607d8b;
  }
}

.title {
  font-size: 0.8em;
}
