ion-icon.sport {
  // padding: 0 10px 0 0;
  display: inline;
  &.baseball {
    color: #e53935;
  }
  &.basketball {
    color: #fb8c00;
  }
  &.american-football {
    color: #795548;
  }
  &.football {
    color: #212121;
  }
  &.tv {
    color: #607d8b;
  }
}

ion-icon.trending {
  color: #e65100;
}

.title {
  padding-left: 10px;
}

.faded {
  opacity: 0.45;
}
