<ion-item-sliding [disabled]="false" #slidingItem>
  <ion-item-options side="start">
    <ion-item-option (click)="onMoreInfo(slidingItem)">Info</ion-item-option>
  </ion-item-options>
  <ion-item>
    <ion-card (click)="onProgramClick()" no-margin>
      <ion-card-header>
        <ion-card-subtitle>
          <span>{{ program.channelTitle }}</span>
          <span float-right
            >{{ program.start | amDateFormat: 'h:mma' }} - {{ program.end | amDateFormat: 'h:mma' }}</span
          >
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content no-padding-top>
        <ion-grid no-padding>
          <ion-row align-items-center>
            <ng-container *ngIf="program.start; else noProgram">
              <ion-col size="1" no-padding align-items-center>
                <span class="icon"> {{ program.icon }} </span>
              </ion-col>
              <ion-col size="11">
                <h1 class="title">
                  {{ program.title }} <span class="faded" *ngIf="isReplay()">(Replay)</span
                  ><ion-icon *ngIf="program.points >= 5" name="flame" class="trending"></ion-icon>
                </h1>
              </ion-col>

              <ion-col size="12" no-padding>
                <span class="faded" *ngIf="program.nextProgramTitle">
                  Next: {{ getNextProgramTitle() }} at {{ program.nextProgramStart | amDateFormat: 'h:mma' }}
                </span>
              </ion-col>
            </ng-container>
            <ng-template #noProgram> &nbsp;</ng-template>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-item-sliding>
