ion-icon.trending {
  color: #e65100;
}

span.icon {
  font-size: 20px;
}

.title {
  padding-left: 10px;
}

.faded {
  opacity: 0.45;
}

.slide-indicator {
  display: flex;
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0;
  .icon {
    align-self: center;
  }
}
