<section *ngIf="partner$ | async as partner; else normal">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Coming Soon</ion-card-subtitle>
      <ion-card-title>Change the Channel</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span [ngSwitch]="partner">
        <span *ngSwitchCase="'bwr'"
          >Ever wanted to change the channel from your seat? Clicker TV gives
          you that ability - and is coming soon to Buffalo Wings &amp;
          Rings</span
        >
        <span *ngSwitchDefault>
          Ever wanted to change the channel from your seat? Clicker TV gives you
          that ability - check back soon.
        </span>
      </span>
    </ion-card-content>
  </ion-card>
</section>
<ng-template #normal
  ><ion-app> 
    <ion-menu contentId="content" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <img src="https://clicker-brand.s3.amazonaws.com/logo-tv.png" alt="logo" class="logo">
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-menu></app-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet> </ion-app
></ng-template>
