<ion-header>
  <ion-toolbar>
    <ion-title> Program Info </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <label>Title</label>
  <div>
    <span> {{ program.title }}</span>
  </div>
  <br />
  <label>Description</label>
  <div>
    <span *ngIf="program.description; else noDescription">
      {{ program.description }}</span
    >
    <ng-template #noDescription>No description available</ng-template>
  </div>
  <div *ngIf="program.game && program.game.summary && program.game.summary.description">
    <br />
    <label>Game Status</label>
    <div>
      <span>
        {{ program.game.summary.description}}</span
      >
    </div>
  </div>
  <div *ngIf="program.game && program.game.book && program.game.home && program.game.home.book">
    <br />
    <label>Vegas</label>
    <div>
          <div><b>{{program.game.away?.name.abbr}}</b>: {{program.game.away?.book.spread}} ({{program.game.away?.book.moneyline}})</div>
          <div><b>{{program.game.home?.name.abbr}}</b>: {{program.game.home?.book.spread}} ({{program.game.home?.book.moneyline}})</div>
          <div><b>O/U</b>: {{program.game.book?.total}}</div>
    </div>
  </div>
</ion-content>
