<ion-header>
  <ion-toolbar>
    <ion-title> Program Info </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <label>Title</label>
  <div>
    <span> {{ program.title }}</span>
  </div>
  <br />
  <label>Description</label>
  <div>
    <span *ngIf="program.description; else noDescription">
      {{ program.description }}</span
    >
    <ng-template #noDescription>No description available</ng-template>
  </div>
</ion-content>
