<ion-header>
  <ion-toolbar>
    <ion-title> Program Info </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <label>Title</label>
  <div>
    <span> {{ program.title }}</span>
  </div>
  <br />
  <label>Description</label>
  <div>
    <span *ngIf="program.description; else noDescription">
      {{ program.description }}</span
    >
    <ng-template #noDescription>No description available</ng-template>
  </div>
  <br />
  <label>Game Status</label>
  <div>
    <span *ngIf="program.game && program.game.summary && program.game.summary.description">
      {{ program.game.summary.description}}</span
    >
  </div>
  <label>Vegas</label>
  <div>
    <span *ngIf="program.game && program.game.book && program.game.home && program.game.home.book">
      <ul>
        <li><b>{{game.away.name.abbr}}</b>: {{game.away.book.spread}} ({{game.away.book.moneyline}})</li>
        <li><b>{{game.home.name.abbr}}</b>: {{game.home.book.spread}} ({{game.home.book.moneyline}})</li>
        <li><b>O/U</b>: {{game.book.total}}</li>
      </ul>
    </span>
  </div>
</ion-content>
