<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="search"
        *ngIf="!searchProgramsMode && isProgramsPage()"
        (click)="openSearch()"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button
        class="show-back-button"
        *ngIf="showBack() && !searchProgramsMode"
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!searchProgramsMode"> {{ title }} </ion-title>
    <ion-searchbar
      *ngIf="searchProgramsMode"
      (ionCancel)="closeSearch()"
      (ionChange)="onSearch($event)"
      showCancelButton
      animated
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [pullMax]="300" [disabled]="disableRefresher()">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner=""
      refreshingText=""
    >
    </ion-refresher-content>
  </ion-refresher>
  <router-outlet></router-outlet>
</ion-content>
