<ion-item-sliding
  [ngClass]="{ inactive: !isAvailable() }"
  [disabled]="!isAvailable()"
  #slidingItem
>
  <ion-item-options side="start">
    <ion-item-option (click)="onInfoClick(slidingItem)">Info</ion-item-option>
  </ion-item-options>
  <ion-item>
    <ion-card
      (click)="isAvailable() && onLocationClick()"
      class="ion-activatable"
    >
      <div class="slide-indicator">
        <ion-icon name="ellipsis-vertical" class="icon" size="large"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-subtitle>
          <span>{{ location.neighborhood }} </span>
          <ion-icon
            *ngIf="!location.connected"
            name="wifi"
            class="disconnected"
          ></ion-icon>
          <!-- <ion-icon *ngIf="isManager" name="star" class="manage"></ion-icon> -->
          <!-- <ion-icon *ngIf="isManager" name="star" class="manage"></ion-icon> -->

          <span
            class="ion-float-right distance"
            *ngIf="location.distance !== undefined"
          >
            <span *ngIf="location.distance >= 0.2; else near">
              {{ getDistance() }} miles
            </span>
            <ng-template #near> Near </ng-template>
          </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-no-padding-top" data-atm="location-name">
        <ion-row>
          <ion-avatar>
            <img [src]="location.img" class="logo" alt="location logo" />
          </ion-avatar>
          <h1 class="brand-text">
            {{ location.name }}
          </h1>
        </ion-row>
        <ion-row>
          <ion-chip color="primary" *ngIf="location.announcement">
            <label color="primary">
              {{ location.announcement }}</label
            ></ion-chip
          >
          <ion-chip color="secondary" *ngIf="isAvailable() && location.openTvs">
            <label color="secondary">TVs Available</label></ion-chip
          >
          <ion-chip color="danger" *ngIf="!isAvailable()">
            <label color="danger">Inactive</label></ion-chip
          >
          <ion-chip color="primary" *ngIf="isManager">
            <label color="primary">Staff</label></ion-chip
          >
          <ion-chip color="primary" *ngIf="isVip; else nonVip">
            <label color="primary">VIP</label></ion-chip
          >
          <ng-template #nonVip>
            <ion-chip color="primary" *ngIf="location.vipOnly">
              <label color="primary">VIP Only</label></ion-chip
            >
          </ng-template>
        </ion-row>
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-item>
</ion-item-sliding>
