<ion-header>
  <ion-toolbar>
    <ion-title>Free Tokens</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-text color="primary" class="ion-text-center">
    <h3 class="brand-text">
      Every time you invite a friend, you both get a free token.
    </h3>
  </ion-text>
  <ion-row class="ion-margin-top ion-align-items-center">
    <div class="ion-text-center center">👨‍👩‍👧‍👦 Share your invite code</div>
  </ion-row>
  <ion-row class="flex ion-align-items-center ion-margin-top">
    <h2 class="center">
      <b class="selectable">{{ referralCode$ | async }}</b>
    </h2>
  </ion-row>
  <ion-row
    *ngIf="!(this.referred$ | async); else alreadyReferred"
    class="ion-margin-top"
  >
    <!-- <ion-item> -->
    <ion-col size="8">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">✉️ Invited? Enter code here.</ion-label>
        <ion-input
          size="large "
          maxlength="5"
          [(ngModel)]="invitedByCode"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col
      size="4"
      class="flex ion-align-items-end ion-justify-content-bottom"
    >
      <ion-button
        (click)="onInviteCode()"
        [disabled]="(isLoading$ | async) || (!invitedByCode || !invitedByCode.length)"
        >Submit</ion-button
      >
    </ion-col>
    <!-- </ion-item> -->
  </ion-row>
  <ion-row class="ion-margin-top">
    <ng-template #alreadyReferred>
      <br />
      <div class="ion-text-center center ion-margin-top">
        👌 You received your free token from inputting a referral.
      </div>
    </ng-template>
  </ion-row>
</ion-content>
