## {
##     "data": $util.toJson($context.result.data),
##     "theContext": $util.toJson($context)
## }

## #set($myresponse = {
##   "$ctx.args.testy": $ctx.result
## })    
## #set($myresponse = {
##   "$ctx.args.testy": $ctx.result
## })    

#set( $book = $ctx.result )
$util.qr($book.put("testy", $ctx))
$util.toJson($book)

## $util.toJson($context.result)