## {
##     "data": $util.toJson($context.result.data),
##     "theContext": $util.toJson($context)
## }

## #set($myresponse = {
##   "$ctx.args.testy": $ctx.result
## })    
## #set($myresponse = {
##   "$ctx.args.testy": $ctx.result
## })    

## #set( $book = $ctx.result )
## $util.qr($book.put("testy", $ctx))
## $util.toJson($book)

#set( $ctx.stash.oldAnnotationCollectionResults = [] )
$util.qr($ctx.stash.oldAnnotationCollectionResults.add($ctx.result))
$util.toJson($ctx.result)