.flex-grid {
  display: flex;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.col {
  flex: 1;
}

.blurb {
  max-width: 760px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
