.hero {
  position: relative;
  text-align: center;
  // padding-top: 40px;
}

.hero-inner {
  position: relative; /* To display all elements above the background color */
}

.hero-title {
  @include font-weight(bold);
}

.hero-paragraph {
  margin-bottom: 32px;
}

.hero-illustration {
  img,
  svg {
    width: 100%;
    // max-width: 320px;
    height: auto;
    margin: 0 auto;
    overflow: visible;
  }
}

// @include media('>medium') {
//   .hero {
//     text-align: left;
//     // padding-top: 92px;
//     // padding-bottom: 80px;

//     &::before {
//       left: 620px;
//       height: 800px;
//       width: 100%;
//     }
//   }

//   // .hero-inner {
//   //   /* Split hero in two half */
//   //   display: flex;
//   // }

//   // .hero-copy {
//   //   padding-right: 48px;
//   //   min-width: 512px;
//   //   font-size: 1.2rem;
//   //   .listen-up {
//   //     font-size: 50px;
//   //   }
//   // }

//   .hero-illustration {
//     // margin-top: -68px;
//     // padding-bottom: 0;

//     img,
//     svg {
//       // max-width: none;
//       // width: 528px;
//     }
//   }
// }

@include media('>small') {
  .hero {
    .wrapper {
      flex-direction: row;
    }
  }
}
