// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @import url("https://fonts.googleapis.com/css?family=Open+Sans&Saira:wght@300;400;500&&display=swap");

// @import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "./theme/_dark";

$brand-font-family: "Saira", "Open Sans", sans-serif;

// @font-face {
//   font-family: 'Saira'; /*a name to be used later*/
//   src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
//   }

.brand-text {
  font-family: $brand-font-family;
  &.light {
    font-weight: 300;
  }
  &.bold {
    font-weight: 600;
  }
}

ion-card-title,
ion-label,
ion-title,
ion-button,
ion-chip,
a {
  font-family: $brand-font-family;
  font-weight: 600;
}

.flex {
  display: flex;
}

.center {
  margin: 0 auto !important;
}

.color-success ion-icon {
  color: var(--ion-color-success) !important;
}

.color-danger ion-icon {
  color: var(--ion-color-danger) !important;
}

.hide {
  display: none !important;
}

.content-loading {
  opacity: 0.3;
  pointer-events: none;
}

// never show intercom launcher icon in corner
// .intercom-launcher-frame,
// .intercom-launcher-badge-frame {
//   display: none !important;
// }

ion-spinner[name="dots"] {
  width: 120px !important;
  height: 120px !important;
}

ion-title {
  font-size: 20px;
}
