// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Saira&display=swap");

.brand-text {
  font-family: "Saira", sans-serif;
}

.flex {
  display: flex;
}

.center {
  margin: 0 auto !important;
}

.color-success ion-icon {
  color: var(--ion-color-success) !important;
}

.color-danger ion-icon {
  color: var(--ion-color-danger) !important;
}

.hide {
  display: none !important;
}

.content-loading {
  opacity: 0.3;
  pointer-events: none;
}

// never show intercom launcher icon in corner
// .intercom-launcher-frame,
// .intercom-launcher-badge-frame {
//   display: none !important;
// }

ion-spinner[name='dots'] {
  width: 80px !important;
  height: 80px !important;
}