<ion-header>
  <ion-toolbar> <ion-title> confirmation </ion-title> </ion-toolbar>
</ion-header>
<section>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ESPN2</ion-card-subtitle>
      <ion-card-title>Kansas at Oklahoma State</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>You are reserving TV #21 until 8:05pm for 2 tokens</p>
      <p>[insert coin icon] x 2</p>
    </ion-card-content>
  </ion-card>

  <ion-button color="success" size="large" expand="block" (click)="onConfirm()">Confirm</ion-button>
</section>
