<ion-header>
  <ion-toolbar> <ion-title> confirmation </ion-title> </ion-toolbar>
</ion-header>
<section padding>
  <ion-card no-margin>
    <ion-card-header>
      <ion-card-subtitle>{{ reservation.game.channelTitle }}</ion-card-subtitle>
      <ion-card-title class="title">
        <ion-row>
          <ion-col size="1" no-padding align-items-center>
            <ion-icon
              *ngIf="reservation.game.type === 'basketball'"
              name="basketball"
              class="sport"
              size="large"
            ></ion-icon>
            <ion-icon
              *ngIf="reservation.game.type === 'football'"
              name="american-football"
              class="sport"
              size="large"
            ></ion-icon>
            <ion-icon
              *ngIf="reservation.game.type === 'baseball'"
              name="baseball"
              class="sport"
              size="large"
            ></ion-icon>
            <ion-icon *ngIf="reservation.game.type === 'soccer'" name="football" class="sport" size="large"></ion-icon>
          </ion-col>
          <ion-col> {{ reservation.gameTitle }}</ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>You are reserving TV #{{ reservation.tvTag }} until {{ reservation.end | amDateFormat: 'h:mm a' }}</p>
      <p><b>Cost:</b> {{ reservation.cost }} tokens</p>
    </ion-card-content>
  </ion-card>
  <ion-button
    color="success"
    size="large"
    expand="block"
    (click)="onConfirm()"
    slot="end"
    [disabled]="saving"
    margin-top
  >
    <span *ngIf="!saving">Confirm (2 tokens)</span>
    <span *ngIf="saving">
      Tuning
      <ion-spinner name="dots"></ion-spinner>
    </span>
  </ion-button>
</section>
