<ion-header>
  <ion-toolbar> <ion-title> confirmation </ion-title> </ion-toolbar>
</ion-header>
<section>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ reservation.game.channelTitle }}</ion-card-subtitle>
      <ion-card-title>{{ reservation.gameTitle }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>You are reserving TV #{{ reservation.tvTag }} until {{ reservation.end | amDateFormat: 'h:mm a' }}</p>
      <p><b>Cost:</b> {{ reservation.cost }} tokens</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="success" size="large" expand="block" (click)="onConfirm()">Confirm (2 tokens)</ion-button>
</section>
