<ion-card no-margin-horizontal>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size="3" flex class="ion-justify-content-center" align-items-center>
            <span class="icon">📺</span>
          </ion-col>
          <ion-col flex align-items-center>
            <span>{{ reservation.program.channelTitle }} on {{ reservation.box.label }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" flex class="ion-justify-content-center" align-items-center>
            <span class="icon">⏱️</span>
          </ion-col>
          <ion-col flex align-items-center>
            <span *ngIf="timeLeft?.minutes > 0">{{ timeLeft?.label }} left</span>
            <span *ngIf="timeLeft?.minutes <= 0 && reservation.minutes">Expired</span>
            <span *ngIf="!reservation.minutes">One-time change</span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="ion-text-center" padding-top flex align-items-center>
        <a (click)="modify()">Modify</a>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
