<ion-grid>
<ion-col size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <span>{{ reservation.game.channelTitle }} - TV #{{ reservation.tvTag }}</span>
        <!-- <span float-right>{{ reservation.end | amDifference: today :'minutes'}} mins remaining</span> -->
        <span float-right>{{ minutesFromNow$ | async }} min left</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ reservation.gameTitle }}
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-grid>