<ion-card no-margin-horizontal>
  <ion-card-header>
    <ion-card-subtitle>
      <span
        >{{ reservation.program.channelTitle }} - TV #{{ reservation.box.label || reservation.box.locationName }}</span
      >
      <span float-right>{{ minutesFromNow$ | async }} left</span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-right">
    <div>{{ reservation.programTitle }}</div>
    <div><a (click)="!disableModify && modify()">Modify</a></div>
  </ion-card-content>
</ion-card>
