ion-slides {
  height: 100vh;
  background: #7b7b7b;
  ion-slide {
    align-items: unset;
    ion-chip {
      height: inherit;
    }
    &.what {
      img.logo {
        height: 45px;
        margin: 0 auto;
        width: inherit;
      }
    }
    ol {
      padding-left: 20px;
    }
    ion-card {
      padding: 20px 0;
      background: white;
    }
  }
}
