ion-slides {
  height: 100vh;
  align-items: center;
  background: #7b7b7b;
  ion-slide {
    min-height: 300px;
    ion-chip {
      height: inherit;
    }
    &.what {
      img.logo {
        height: 45px;
        margin: 0 auto;
      }
     
    }
      ol {
        padding-left: 20px;
        // li {
        //   margin-bottom: 8px;
        // }
      }
    ion-card {
      // min-height: 250px;
      padding: 20px 0;
      background: white;
    }
  }
}
