ion-slides {
  height: 100vh;
  background: #7b7b7b;
  z-index: 99;
  ion-slide {
    align-items: unset;
    ion-chip {
      height: inherit;
    }
    &.what {
      img.logo {
        width: 60px;
        height: inherit;
        margin: 0 auto;
      }
    }
    ol {
      padding-left: 20px;
    }
    ion-card {
      padding: 20px 0;
      background: white;
      margin: 40px 16px;
    }
  }
}

.how-to {
  li {
    font-size: 1.5em;
    .blurb {
      padding-top: 4px;
      font-size: .5em;
    }
  }
}
  // .announcement {
  //   border: 4px solid var(--ion-color-primary);
  //   padding: 8px;
  //   border-radius: 5px;
  // }

.title {
  border-bottom: 2px solid var(--ion-color-primary);
}