<ion-slides pager="true" [options]="options" *ngIf="ready && !onboarded">
  <ion-slide class="what">
    <ion-card>
      <div class="ion-text-end skip ion-padding-end">
        <span (click)="onGetStarted()">Skip</span>
      </div>
      <img
        src="https://clicker-brand.s3.amazonaws.com/logo-tv.png"
        class="logo"
      />
      <ion-card-header>
        <ion-card-title
          >Welcome to <span class="brand-text">Clicker TV</span></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <p class="announcement">
          From here on out, you're in charge of the remote at your favorite places</p
        >
        <p class="ion-padding-vertical">🎉 ⚾ 😁 🎈 🏀  🎊 🏈 🍾 ⚽ 🏎 ☀️</p>
        <p class="ion-text-left">Here's how it works:</p>
        <ol class="ion-text-left how-to">
          <li><span class="title">Select your location</span><div class="blurb">Must be Clicker-enabled</div></li>
          <li><span class="title">Choose game</span><div class="blurb">Use our live channel guide</div></li>
          <li><span class="title">Identify TV</span><div class="blurb">TVs are labeled</div></li>
          <li><span class="title">Click the big blue button</span><div class="blurb">Watch the TV change instantly!</div></li>
        </ol>
        <ion-chip color="primary ion-padding">
          <ion-label>
            <div>We put a <b>free token</b> in your account!</div>
          </ion-label>
        </ion-chip>
        <div class="ion-margin-top">
          <ion-button color="success" (click)="onGetStarted()" size="large"
            >Get Started</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
