<ion-header>
  <ion-toolbar>
    <ion-title>
      Wallet
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section padding-top>
    <ion-row align-items-center>
      <b margin-end>Wallet:</b>
      <img class="title-image" src="./assets/coin.svg" width="22" height="22" />
      <span>&nbsp;</span>
      <span>2</span>
    </ion-row>
    <ion-row padding-top>
      <b margin-end>Buy More:</b>
      <fa-icon [icon]="faCreditCard" size="2x" margin-end></fa-icon>
      <fa-icon [icon]="faCcApplePay" size="2x"></fa-icon>
    </ion-row>
  </section>
</ion-content>
