<ion-header>
  <ion-toolbar>
    <ion-title> Wallet </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p class="ion-text-center">Please add a credit card below</p>
  <form novalidate (ngSubmit)="buy()">
    <div id="card-element" class="field ion-margin-vertical"></div>
    <ion-button type="submit" expand="block" type="submit" color="success">Add</ion-button>
  </form>
</ion-content>
