<ion-header>
  <ion-toolbar>
    <ion-title>
      <span> wallet</span> <ion-icon name="close" size="large" (click)="onCloseClick()" float-right></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section padding-top>
    <ion-row align-items-center>
      <b margin-end>Wallet:</b>
      <img class="title-image" src="./assets/coin.svg" width="22" height="22" />
      <span>&nbsp;</span>
      <span>2</span>
    </ion-row>
    <ion-row padding-top>
      <b margin-end>Buy More:</b>
      <fa-icon [icon]="faCreditCard" size="2x" margin-end></fa-icon>
      <fa-icon [icon]="faCcApplePay" size="2x"></fa-icon>
    </ion-row>
  </section>
</ion-content>
