img.logo {
  height: 40px;
  width: inherit;
  float: left;
  padding: 0 10px 10px 0;
}

.inactive {
  opacity: 0.4;
}

ion-icon.disconnected {
  color: var(--ion-color-danger);
}

ion-icon.location {
  color: var(--ion-color-primary);
  font-size: 64px;
}

ion-card {
  width: 100%;
}

// ::ng-deep .action-sheet-button {
//   &.danger {
//     ion-icon {
//       color: var(--ion-color-danger) !important;
//     }
//   }
//   &.success {
//     ion-icon {
//       color: var(--ion-color-success) !important;
//     }
//   }
// }
