<!-- show if data loading initally or evaluating geolocationDeclined
unless pulling to refresh (so we don't show duplicate spinners) -->
<ion-row
  *ngIf="
    ((isLoading$ | async) || evaluatingGeolocation) &&
      !reserveService.isRefreshing;
    let stuffLoading
  "
  class="ion-margin-vertical"
>
  <ion-spinner name="dots" color="primary" class="center"></ion-spinner>
</ion-row>

<section>
  <section
    class="ion-text-center ion-padding"
    *ngIf="
      (askForGeolocation$ | async) && !evaluatingGeolocation;
      else showLocations
    "
  >
    <ion-icon name="navigate" class="location"></ion-icon>
    <p>
      Clicker TV needs access to your location for more accurate location
      details. This data is not shared or stored.
    </p>
    <div>
      <ion-button
        class="ion-margin-top"
        (click)="allowLocation()"
        [disabled]="disableButton"
        color="primary"
        >Allow Location Access
      </ion-button>
    </div>
    <!-- <div>
      <ion-button
        class="ion-margin-top"
        (click)="denyGeolocation()"
        fill="clear"
        [disabled]="disableButton"
        color="primary"
        >No Thanks
      </ion-button>
    </div> -->
  </section>

  <ng-template #showLocations>
    <ion-list
      lines="none"
      data-atm="locations"
      [class.content-loading]="
        (isLoading$ | async) || evaluatingGeolocation || waiting
      "
    >
      <ng-container
        *ngFor="
          let location of (locations$
            | async
            | locationsFilter: searchTerm:showHidden)
        "
      >
        <app-location
          [location]="location"
          [userRoles]="userRoles$"
          (onClick)="onLocationClick($event)"
          (onManage)="onLocationManage($event)"
          (onLocationDetail)="onLocationDetail($event)"
        ></app-location>
      </ng-container>
      <ng-container
        *ngIf="
          !((isLoading$ | async) || evaluatingGeolocation) &&
          !reserveService.isRefreshing &&
          (locations$ | async | locationsFilter: searchTerm:showHidden)
            ?.length === 0
        "
      >
        <ion-card>
          <ion-card-content class="ion-text-center">
            <!-- <p *ngIf="searchTerm">
              <em>Results matching: {{ searchTerm }}</em>
            </p> -->
            <p>
              Sorry, no Clicker locations
              <span *ngIf="searchTerm && searchTerm.length"
                >matching <b>{{ searchTerm }} </b></span
              ><span *ngIf="this.userGeolocation"
                >within {{ milesRadius }} miles
              </span>
              😢.
            </p>
            <p>
              Bring Clicker to your neighborhood by clicking
              <b>Suggest New Location</b> from the menu.
            </p>
          </ion-card-content>
        </ion-card>
      </ng-container>
      <p
        *ngIf="geolocationDeclined && !evaluatingGeolocation"
        class="ion-text-center ion-padding"
      >
        Find locations around you <br />by
        <a (click)="forceAllow()">allowing location services</a>
      </p>
    </ion-list>
  </ng-template>
</section>
