<!-- show if data loading initally or evaluating geolocationDeclined
unless pulling to refresh (so we don't show duplicate spinners) -->
<ion-row *ngIf="((isLoading$ | async) || evaluatingGeolocation) && !reserveService.isRefreshing" margin-vertical>
  <ion-spinner name="crescent" class="center"></ion-spinner>
</ion-row>

<section>
  <section
    class="ion-text-center"
    padding
    *ngIf="(askForGeolocation$ | async) && !evaluatingGeolocation; else showLocations"
  >
    <ion-icon name="pin" class="location"></ion-icon>
    <p>
      Clicker would like to access your location for more accurate location details. This data is not stored anywhere.
    </p>
    <div><ion-button margin-top (click)="allowLocation()">Allow Location Access </ion-button></div>
    <div><ion-button fill="clear" (click)="denyLocation()">No Thanks </ion-button></div>
  </section>

  <ng-template #showLocations>
    <ion-list lines="none">
      <p *ngIf="geolocationDeclined && !evaluatingGeolocation" class="ion-text-center" padding>
        Find locations around you by allowing location services in your settings
      </p>
      <ng-container *ngFor="let location of (locations$ | async | locationsFilter: searchTerm)">
        <app-location
          [location]="location"
          [userRoles]="userRoles"
          [userLocations]="userLocations"
          (onClick)="onLocationClick($event)"
          (onManage)="onLocationManage($event)"
        ></app-location>
      </ng-container>
    </ion-list>
  </ng-template>
</section>
