<ion-header>
  <ion-toolbar> <ion-title> choose your game</ion-title> </ion-toolbar>
</ion-header>
<section>
  <ion-list>
    <ion-card *ngFor="let game of games" (click)="onGameClick(game)">
      <ion-card-header>
        <ion-card-subtitle>
          <span>{{ game.start | amDateFormat: 'h:mm a' }}</span>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col size="1" no-padding align-items-center>
                <ion-icon name="basketball" size="large"></ion-icon>
              </ion-col>
              <ion-col size="11"> {{ game.title }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</section>
