<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section *ngIf="!codeSent">
    <ion-input placeholder="Phone Number" type="tel" maxlength="10" [(ngModel)]="phone" autofocus></ion-input>
    <ion-button expand="block" (click)="onNext()" margin-top [disabled]="!phone || phone.length !== 10"
      >Next</ion-button
    >
  </section>
  <section *ngIf="codeSent">
    <ion-input placeholder="Code" type="number" maxlength="8" [(ngModel)]="code" autofocus></ion-input>
    <ion-button expand="block" (click)="onLogin()" margin-top [disabled]="!code || code.length >= 3">Login</ion-button>
  </section>
</ion-content>
