<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseClick()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #phoneForm="ngForm" (ngSubmit)="onPhoneSubmit(phoneForm.form)" *ngIf="!codeSent">
    <p class="ion-text-center">Input your phone number below to login.</p>
    <section>
      <ion-input
        #phoneInput
        placeholder="Phone Number"
        type="tel"
        maxlength="10"
        [(ngModel)]="phone"
        name="phone"
        [disabled]="waiting"
      ></ion-input>
      <ion-button
        expand="block"
        type="submit"
        size="large"
        margin-top
        [disabled]="!phone || phone.length !== 10 || waiting"
        >Next</ion-button
      >
      <p class="ion-text-center"><em> Your number is only used for authentication and is never shared.</em></p>
    </section>
  </form>
  <form #codeForm="ngForm" (ngSubmit)="onCodeSubmit()" *ngIf="codeSent">
    <p class="ion-text-center">
      We have sent you an access code via text message for verification. Please enter it below.
    </p>
    <section>
      <ion-input
        #codeInput
        placeholder="Code"
        type="tel"
        maxlength="8"
        [(ngModel)]="code"
        name="code"
        [disabled]="waiting"
      ></ion-input>
      <ion-button expand="block" type="submit" size="large" margin-top [disabled]="!isEligibleCode() || waiting"
        >Login</ion-button
      >
    </section>
  </form>
</ion-content>
