service: admin
frameworkVersion: '>=1.1.0 <2.0.0'
provider:
  name: aws
  memorySize: 1024
  versionFunctions: false
  runtime: nodejs10.x
  # tracing: true
  logRetentionInDays: 14
  deploymentBucket:
    name: serverless-deploys-clicker
  environment:
    stage: ${self:custom.stage}
    airtableKey: ${env:AIRTABLE_KEY}
    airtableBase: ${self:custom.airtableBase.${self:custom.stage}}
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - lambda:InvokeFunction
        - lambda:InvokeAsync
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource: '*'
plugins:
  - serverless-prune-plugin
  - serverless-deployment-bucket
  - serverless-domain-manager
  - serverless-sentry
  - serverless-dotenv-plugin
  - serverless-plugin-tracing

custom:
  stage: ${opt:stage}
  prune:
    automatic: true
    number: 3
  airtableBase:
    prod: ${env:AIRTABLE_BASE}
    release: ${env:AIRTABLE_BASE_RELEASE}
    develop: ${env:AIRTABLE_BASE_DEV}
  domains:
    prod: api.tryclicker.com
    release: api-release.tryclicker.com
    develop: api-develop.tryclicker.com
  customDomain:
    domainName: ${self:custom.domains.${self:custom.stage}}
    basePath: admin
    certificateName: 'api.tryclicker.com'
    stage: ${self:custom.stage}
    createRoute53Record: true
    endpointType: 'edge'
  sentry:
    dsn: ${env:SENTRY_DSN_ENDPOINT}
  dotenv:
    basePath: ../
functions:
  health:
    handler: admin.health
    events:
      - http:
          path: health
          method: get
  checkControlCenterEvents:
    handler: admin.checkControlCenterEvents
    events:
      # - schedule: cron(0 19,20 ? * MON-FRI *) # weekdays ~ 3pm, 4pm eastern
      # - schedule: cron(30 12,14 ? * SAT,SUN *) # weekends ~ 830am, 1030am eastern
      # - schedule: cron(30 13,15 ? * * *) # ~830am, 1030am eastern
      - http:
          path: check/control-center
          method: post
  logChannelChange:
    handler: admin.logChannelChange
    events:
      - http:
          path: channel-change
          method: post
  airtableRemoveExpired:
    handler: admin.airtableRemoveExpired
    timeout: 60
    events:
      - http:
          path: airtable
          method: delete
      - schedule: cron(55 9 * * ? *) # every day @ 5:55am eastern
