<ion-list>
  <ion-menu-toggle class="menu">
    <ion-item (click)="onOpenReferral()" menuToggle><ion-label>Get Free Tokens</ion-label></ion-item>
    <ion-item (click)="onRate()" *ngIf="showRatingLink"><ion-label>Rate</ion-label></ion-item>
    <ion-item (click)="onSuggestLocation()"><ion-label>Suggest New Location</ion-label></ion-item>
    <ion-item (click)="onContact()"><ion-label>Contact Us</ion-label></ion-item>
    <ion-item (click)="onLogout()" *ngIf="(user$ | async)?.guest !== true; else loggedOut">
      <ion-label>Logout</ion-label>
    </ion-item>
    <ng-template #loggedOut>
      <ion-item (click)="onLogin()"><ion-label>Login</ion-label></ion-item>
    </ng-template>
  </ion-menu-toggle>
</ion-list>