<ion-header>
  <ion-toolbar> <ion-title>profile</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <div margin-bottom><b>Phone:&nbsp;</b> <span>513-843-3209</span></div>
  <div margin-bottom>
    <b>Wallet:&nbsp;</b> <span>2 Coins</span> <a (click)="openWallet()" padding-start>Purchase tokens</a> <br />
  </div>
  <h6>Your Reservations:</h6>
  <div *ngIf="(reservations$ | async).length > 0; else empty">
    <ion-card *ngFor="let r of (reservations$ | async)">
      <ion-card-header>
        <ion-card-subtitle
          >{{ r.game.channelTitle }} - TV #{{ r.tvTag }} until {{ r.end | amDateFormat: 'h:mm a' }}</ion-card-subtitle
        >
        <ion-card-title>{{ r.gameTitle }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <ng-template #empty> You do not have any active reservations </ng-template>
</ion-content>
