<ion-header>
  <ion-toolbar> <ion-title>profile</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <div margin-bottom><b>Phone:&nbsp;</b> <span>513-843-3209</span></div>
  <div margin-bottom>
    <b>Wallet:&nbsp;</b>
    <h1 class="inline">2</h1>
    <span>&nbsp;</span> <fa-icon [icon]="faCopyright" class="coin" size="2x"></fa-icon>
    <a (click)="openWallet()" padding-start>Purchase tokens</a> <br />
  </div>
  <b margin-bottom>Your Reservations:&nbsp;</b><br />
  <div margin-top>
    <div *ngIf="(reservations$ | async).length > 0; else empty" margin-top>
      <ion-card *ngFor="let r of (reservations$ | async)">
        <ion-card-header>
          <ion-card-subtitle
            >{{ r.game.channelTitle }} - TV #{{ r.tvTag }} until {{ r.end | amDateFormat: 'h:mm a' }}</ion-card-subtitle
          >
          <ion-card-title>{{ r.gameTitle }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <ng-template #empty margin-top> You do not have any active reservations </ng-template>
  </div>
</ion-content>
