#set($device = $util.defaultIfNullOrBlank($ctx.args, $ctx.source))

{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "source" : $utils.toJson($context.source),
        "context" : $utils.toJson($context),
        "obj" : $utils.toJson($obj),
        "args" : $utils.toJson($args),
        "info" : $utils.toJson($info),
        "device": $utils.toJson($device),
    }
}