<ion-header>
  <ion-toolbar>
    <ion-title> Wallet </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row *ngIf="(isLoading$ | async)" class="ion-margin-vertical">
    <ion-spinner name="dots" color="primary" class="center"></ion-spinner>
  </ion-row>
  <section [hidden]="addCardMode || (isLoading$ | async)">
    <ion-list id="length">
      <ion-radio-group (ionChange)="onAmountChange($event)">
        <ion-list-header>
          <ion-label>Choose an Amount</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let f of (plans$ | async)">
          <ion-label class="flex ion-align-items-center">
            <span class="dollars">${{ f.dollars }}</span>
            <div class="flex ion-align-items-center">
              <ion-chip
                *ngIf="f.best"
                color="primary"
                class="ion-padding-right"
              >
                Best Deal
              </ion-chip>
              <img
                class="coin ion-float-right"
                src="./assets/coin.svg"
                width="22"
                height="22"
              />
              <span>{{ f.tokens }}</span>
            </div>
          </ion-label>
          <ion-radio
            slot="start"
            mode="md"
            [value]="f"
            [disabled]="waiting"
            checked
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button
      expand="block"
      color="primary"
      size="large"
      (click)="purchase()"
      [disabled]="waiting || !(userCard$ | async)"
      *ngIf="selectedPlan"
      >Purchase ${{ selectedPlan.dollars }}</ion-button
    >
    <p class="ion-text-center" *ngIf="!waiting">
      💳
      <span *ngIf="!(userCard$ | async); else hasCard"
        ><a color="danger" (click)="goToAddCard()">Add a card</a> to
        continue</span
      >
      <ng-template #hasCard>
        {{ (userCard$ | async)?.brand }} ending in {{ (userCard$ | async)?.last4
        }} <br /><a color="danger" (click)="removeCard()"
          >Remove Card</a
        ></ng-template
      >
    </p>
  </section>
  <section [hidden]="!addCardMode">
    <p class="ion-text-center ">Add a credit card to purchase tokens.</p>
    <form novalidate (ngSubmit)="addCard()">
      <div id="card-element" class="field"></div>
      <ion-button
        type="submit"
        expand="block"
        color="primary"
        size="large"
        [disabled]="waiting"
        >Add Card</ion-button
      >
    </form>
  </section>
</ion-content>
