<ion-header>
  <ion-toolbar>
    <ion-title> Wallet </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section [hidden]="!(userCard$ | async)">
    <ion-list id="length">
      <ion-radio-group (ionChange)="onAmountChange($event)">
        <ion-list-header> Choose an Amount </ion-list-header>
        <!-- <p padding>Channel changes typically cost 1 token</p> -->
        <ion-item *ngFor="let f of (plans$ | async)">
          <ion-label flex align-items-center>
            <span class="dollars">${{ f.dollars }}</span>
            <div flex align-items-center>
              <ion-chip *ngIf="f.best" color="primary" padding-right> Best Deal </ion-chip>
              <img class="coin ion-float-right" src="./assets/coin.svg" width="22" height="22" />
              <span>{{ f.tokens }}</span>
            </div>
          </ion-label>
          <ion-radio slot="start" [value]="f" [disabled]="waiting" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button expand="block" color="success" (click)="purchase()" [disabled]="waiting" *ngIf="selectedPlan"
      >Purchase ${{ selectedPlan.dollars }}</ion-button
    >
    <p class="ion-text-center" *ngIf="!waiting">
      {{ (userCard$ | async)?.brand }} ending in {{ (userCard$ | async)?.last4 }} <br /><a
        color="danger"
        (click)="removeCard()"
        >Remove Card</a
      >
    </p>
  </section>
  <section [hidden]="userCard$ | async">
    <p class="ion-text-center ">Add a credit card to purchase tokens.</p>
    <form novalidate (ngSubmit)="addCard(x)">
      <div id="card-element" class="field"></div>
      <ion-button type="submit" expand="block" color="success" [disabled]="waiting">Add</ion-button>
    </form>
  </section>
</ion-content>
