<ion-header>
  <ion-toolbar>
    <ion-title>
      <span> wallet</span> <ion-icon name="close" size="large" (click)="onCloseClick()" float-right></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section padding-top>
    <b margin-end>Tokens:</b>
    <h1 class="count">2</h1>
    <span>&nbsp;</span>
    <fa-icon [icon]="faCopyright" size="2x"></fa-icon>
    <br />
    <br />
    <b margin-end>Buy More:</b>
    <fa-icon [icon]="faCreditCard" size="2x" margin-end></fa-icon>
    <fa-icon [icon]="faCcApplePay" size="2x"></fa-icon>
  </section>
</ion-content>
