<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end"> <ion-button (click)="onLogout()"> Logout </ion-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content margin-top>
  <ion-grid padding-horizontal padding-top size="12">
    <ion-row margin-bottom> <b>Phone:&nbsp;</b><span>513-843-3209</span> </ion-row>
    <ion-row margin-bottom align-items-center>
      <b>Wallet:</b> <img class="title-image" src="./assets/coin.svg" width="22" height="22" /> <span>&nbsp;</span>
      <span>2</span> <a (click)="openWallet()" padding-start>Get more</a> <br />
    </ion-row>
    <ion-row margin-bottom align-items-center>
      <b>Feedback:</b><a (click)="openFeedback()" padding-start>Provide Feedback</a> <br />
    </ion-row>
    <ion-row margin-bottom> <b>My Reservations:</b> </ion-row>

    <ion-spinner *ngIf="(isReservationsLoading$ | async); else ready"></ion-spinner>
    <ng-template #ready>
      <div margin-bottom *ngIf="(reservations$ | async).length > 0; else empty">
        <div *ngFor="let r of (reservations$ | async)"><app-reservation [reservation]="r"></app-reservation></div>
      </div>
      <ng-template #empty>
        <div padding-horizontal><span>No active reservations</span></div>
      </ng-template>
    </ng-template>
  </ion-grid>
</ion-content>
