name: e2e suite
on:
  push:
    branches:
      # - "*"
      # - "!master"
      - develop
      - release
      # - master
    paths:
      - "functions/**"
      - "mobile/app/**"
jobs:
  e2e:
    if: "!contains(github.event.commits[0].message, '[skip e2e]')"
    name: mobile app e2e tests
    runs-on: ubuntu-16.04
    steps:
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Checkout
        uses: actions/checkout@master
      # - uses: marceloprado/has-changed-path@master
      #   id: changed-app-or-functions
      #   with:
      #     paths: mobile/app functions
      - name: Set branch environment variables
        # if: steps.changed-app-or-functions.outputs.changed == 'true'
        shell: bash
        run: |
          branch=${GITHUB_REF##*/}
          echo $branch
          if [ branch == "master" ]; then
            echo "ENV=production" >> $GITHUB_ENV
            echo "cypress_apiBaseUrl=https://api.tryclicker.com" >> $GITHUB_ENV
          fi
          if [ branch == "release" ]; then
            echo "ENV=release" >> $GITHUB_ENV
            echo "cypress_apiBaseUrl=https://api-release.tryclicker.com" >> $GITHUB_ENV
          fi
          if [ branch == "develop" ]; then
            echo "ENV=develop" >> $GITHUB_ENV
          fi
      - name: Cypress run
        # if: steps.changed-app-or-functions.outputs.changed == 'true'
        uses: cypress-io/github-action@v2
        with:
          working-directory: mobile/app
          build: npm run build
          start: npm run start:static
          wait-on: "http://localhost:4100"
          browser: chrome
          record: true
          headless: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
