<div *ngIf="reservation$ | async" class="ion-padding">
  <!-- <div [ngClass]="{ waiting: isAutotuneWaiting$ }"> -->
  <div>
    <!-- <div class="summary-wrapper ion-text-center"> -->
    <!-- <div>
        <label> Location: </label>
        <span>{{ getLocationName() | truncate: [24] }}</span>
      </div> -->
    <!-- <div> -->
    <!-- <label> Channel: </label> -->
    <!-- <span>{{ getChannelDescription() | truncate: [24] }}</span> -->
    <!-- <span>{{ getChannelDescription() }}</span> -->
    <!-- </div> -->
    <!-- <div>
        <label> Reserved: </label>
        <span
          *ngIf="
            (!isEditMode && reservation.minutes) ||
              (isEditTime && reservation.update?.minutes) ||
              isEditChannel;
            else chooseTimeframe
          "
          >📺&nbsp;<span class="brand-text">{{ reservation?.box?.label }}</span>
          until {{ getEndTime() | amDateFormat: "h:mma" }}</span
        >
        <ng-template #chooseTimeframe>
          <b *ngIf="reservation.minutes === undefined">Choose timeframe</b>
          <span *ngIf="reservation.minutes === 0">One-time change</span>
        </ng-template> -->

    <!-- <ng-template #noReservation> One-time change </ng-template> -->
    <!-- </div> -->
    <!-- <div></div> -->
    <!-- </div> -->
    <ion-list
      class="timeframes"
      *ngIf="!isEditChannel && !reservation.location.free"
    >
      <ion-radio-group (ionChange)="onTimeframeChange($event)">
        <ion-list-header class="ion-no-padding">
          <ion-label>
            <span *ngIf="isEditTime; else normal">Extend</span>
            <ng-template #normal>Choose</ng-template>&nbsp;Timeframe:
          </ion-label>
        </ion-list-header>
        <!-- hacky - should put as first item in observable somehow? -->
        <ion-row *ngIf="isAppLoading" class="ion-margin-vertical">
          <ion-spinner name="dots" color="primary" class="center"></ion-spinner>
        </ion-row>
        <ion-item *ngFor="let timeframe of visibleTimeframes$ | async">
          <ion-label class="flex ion-align-items-center">
            <span data-atm-class="timeframe" class="timeframe">
              <span
                *ngIf="
                  timeframe.minutes > 0 && timeframe.minutes % 60 === 0;
                  else minutes
                "
              >
                <span *ngIf="timeframe.minutes / 60 > 1; else hour"
                  >{{ timeframe.minutes / 60 }} hours</span
                >
                <ng-template #hour>
                  {{ timeframe.minutes / 60 }} hour
                </ng-template>
              </span>
              <ng-template #minutes>
                <span *ngIf="timeframe.minutes !== 0; else free"
                  >{{ timeframe.minutes }} minutes</span
                >
                <ng-template #free> Free change </ng-template>
              </ng-template>
              <!-- <span> {{ timeframe.minutes }} minutes </span> -->
            </span>
            <div class="flex ion-align-items-center">
              <ion-chip color="primary" *ngIf="timeframe.isVip">
                <label color="primary">VIP</label></ion-chip
              >
              <ion-chip color="primary" *ngIf="timeframe.isManager">
                <label color="primary">Staff</label></ion-chip
              >
              <img
                class="coin ion-float-right"
                src="./assets/coin.svg"
                width="22"
                height="22"
              />
              <span class="brand-text bold">{{ timeframe.tokens }}</span>
            </div>
          </ion-label>
          <ion-radio
            slot="start"
            mode="md"
            [value]="timeframe"
            [disabled]="isAppLoading || saving"
            checked
          ></ion-radio>
        </ion-item>
        <!-- </ng-template> -->
      </ion-radio-group>
    </ion-list>
    <p class="ion-text-center ion-padding-top" *ngIf="!isEditMode">
      <span *ngIf="reservation.minutes > 0">
        😎
        <b
          >You will be able to freely change the channel during this reservation
          timeframe.</b
        >
      </span>
    </p>
    <ion-button
      size="large"
      expand="block"
      (click)="onConfirm()"
      id="confirm"
      slot="end"
      *ngIf="isValid()"
      [disabled]="
        saving ||
        (tokenCount$ | async) < getCost() ||
        (isAppLoading$ | async) ||
        (outOfRange && !overrideDistanceDisable) ||
        isInitializing ||
        isConflictingUser
      "
      class="ion-margin-top ion-align-items-center"
    >
      <ion-row *ngIf="!saving; else isSaving" class="ion-align-items-center">
        <!-- <span *ngIf="!isEditTime" class="scale">⚡&nbsp;&nbsp;</span> -->
        <span *ngIf="!isEditTime" class="scale"
          ><ion-icon name="flash"></ion-icon>&nbsp;&nbsp;</span
        >
        <span *ngIf="isEditTime" class="scale"
          ><ion-icon name="timer-outline"></ion-icon>&nbsp;&nbsp;</span
        >
        <span class="ion-padding-horizontal">
          <span *ngIf="!isEditTime"> Change<br />Channel&nbsp;</span>
          <span *ngIf="isEditTime"> Add Time</span>
        </span>
        <span class="flex ion-align-items-center brand-text bold"
          ><img
            class="coin ion-padding-start"
            src="./assets/coin.svg"
            width="22"
            height="22"
          />
          {{ getCost() }}</span
        >
      </ion-row>
      <ng-template #isSaving>
        <span class="flex ion-align-items-center shake"
          ><ion-icon name="flash"></ion-icon>&nbsp;&nbsp;Tuning...&nbsp;</span
        >
      </ng-template>
    </ion-button>
    <ion-row class="ion-text-center ion-margin-top">
      <em class="description"> {{ getChannelDescription() }} </em>
    </ion-row>
    <ion-row
      class="ion-text-center ion-margin-top"
      *ngIf="(tokenCount$ | async) < getCost()"
    >
      <ion-text color="danger">
        Heads up! You have {{ tokenCount$ | async }}
        <span
          *ngIf="
            (tokenCount$ | async) && (tokenCount$ | async) === 1;
            else tokens
          "
          >token</span
        ><ng-template #tokens>tokens</ng-template> remaining. Please
        <span *ngIf="!isLoggedIn"><a (click)="onLogin()">login</a> and </span>
        <span>add funds</span>.
      </ion-text>
    </ion-row>
    <ion-row class="ion-text-center ion-margin-top" *ngIf="isBoxLocked">
      <ion-text color="danger">
        <ion-icon name="alert-circle" class="vertical-middle"></ion-icon>
        This box is currently reserved by a Clicker user. Please make sure they
        are no longer watching.
      </ion-text>
    </ion-row>
    <ion-row
      class="ion-text-center ion-margin-top"
      *ngIf="outOfRange && !overrideDistanceDisable"
    >
      <ion-text color="danger" (click)="onClickOverrideDistance()">
        Sorry, you are too far away from
        <b>{{ reservation.location.name }}</b> to change the channel. If this is
        a mistake, <a (click)="onClickOverrideDistanceForce()">click here</a>.
      </ion-text>
    </ion-row>
    <ion-row class="ion-text-center ion-margin-top" *ngIf="isConflictingUser">
      <ion-text color="danger">
        <ion-icon name="alert-circle" class="vertical-middle"></ion-icon>
        Sorry, you cannot update this reservation. Please try again.
      </ion-text>
    </ion-row>
  </div>
</div>
