ion-spinner {
  vertical-align: middle;
}

.coin {
  display: inline-block;
  width: inherit;
  padding-right: 4px;
}

label {
  font-weight: bold;
}

ion-label {
  display: flex !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dollars {
  margin-right: auto;
}
