<ion-card *ngIf="(reservation$ | async) as reservation">
  <ion-card-header>
    <ion-card-subtitle>{{ reservation.program.channelTitle }}</ion-card-subtitle>
    <ion-card-content>
      <ion-row>
        <ion-col size="1" no-padding align-items-center>
          <ion-icon
            *ngIf="reservation.program.type === 'basketball'"
            name="basketball"
            class="sport"
            size="large"
          ></ion-icon>
          <ion-icon
            *ngIf="reservation.program.type === 'football'"
            name="american-football"
            class="sport"
            size="large"
          ></ion-icon>
          <ion-icon
            *ngIf="reservation.program.type === 'baseball'"
            name="baseball"
            class="sport"
            size="large"
          ></ion-icon>
          <ion-icon *ngIf="reservation.program.type === 'soccer'" name="football" class="sport" size="large"></ion-icon>
        </ion-col>
        <ion-col> {{ reservation.program.title }}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card-header>

  <ion-card-content>
    <ion-list id="length">
      <ion-radio-group (ionChange)="onLengthChange($event)">
        <ion-list-header> Reservation Length </ion-list-header>
        <ion-item *ngFor="let p of reservationPlans">
          <ion-label flex ion-justify-items-end>
            <span>{{ p.title }}</span>
            <div flex ion-align-items-center float-right>
              <img class="coin ion-float-right" src="./assets/coin.svg" width="22" height="22" />
              <span>{{ p.tokens }}</span>
            </div>
          </ion-label>
          <ion-radio slot="start" value="{{ p.minutes }}" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <p class="ion-text-center" padding-top>
      <span *ngIf="reservation.reserve; else oneTime">
        You are tuning <b>TV {{ reservation.tvTag }}</b> to {{ reservation.program.channelTitle }} and reserving until
        {{ reservation.end | amDateFormat: 'h:mma' }}. You will be able to change the channel during your reservation.
      </span>
      <ng-template #oneTime>
        You are tuning <b>TV {{ reservation.tvTag }}</b> to {{ reservation.program.channelTitle }} but others will be
        able to change the channel
      </ng-template>
    </p>
    <ion-button
      color="success"
      size="large"
      expand="block"
      (click)="onConfirm(reservation)"
      slot="end"
      [disabled]="saving"
      margin-top
      align-items-center
    >
      <ion-row *ngIf="!saving; else isSaving">
        <span>Confirm</span> <img class="coin" src="./assets/coin.svg" width="22" height="22" padding-start />
        <span>{{ reservation.cost }}</span>
      </ion-row>
      <ng-template #isSaving>
        Tuning
        <ion-spinner name="dots" margin-start></ion-spinner>
      </ng-template>
    </ion-button>
  </ion-card-content>
</ion-card>
