[Unit]
Description=captain service
After=network.target

[Service]
WorkingDirectory=/home/pi
EnvironmentFile=/home/pi/.env
ExecStartPre=/bin/bash -c 'if cd captain; then git pull origin master; else git clone git@github.com:timmyg/captain.git;fi'
ExecStartPre=/bin/bash -c 'cd /home/pi/captain/packages/yacht && /home/pi/.yarn/bin/yarn install'
ExecStart=/bin/bash -c 'node /home/pi/captain/packages/yacht/startup.js'
StandardOutput=inherit
StandardError=inherit
User=pi
TimeoutSec=600
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
