{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "program",
        "arguments":  $utils.toJson($context.result),
        "handle" : $utils.toJson($context.result)
    }
}