{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        ## Provide a query expression. **
        "expression": "#locationId = :locationId",
        "expressionNames" : { "#locationId": "locationId"},
        "expressionValues" : {
            ":locationId" : {
                ## "S" : "${context.identity.username}"
                "S" : "${context.arguments.locationId}"
            }
        }
    },
}