{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "program3",
        "arguments": $utils.toJson($context.arguments),
        "handle" : $utils.toJson($context.result),
        "ct" : $utils.toJson($context),
        "source" : $utils.toJson($context.source),
        "ctrequest" : $utils.toJson($context.request),
        "ctinfo" : $utils.toJson($context.info),
        "ct2" : $utils.toJson($ctx)
    }
}