{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id" : { "S" : "${context.arguments.id}" },
        "locationId" : { "S" : "${context.arguments.locationId}" }
    },
    "attributeValues" : {
        "info": {
            "M": {
              "ip": { "S" : "${context.arguments.info.ip}" },
              "clientAddress": { "S" : "${context.arguments.info.clientAddress}" }
            }
          }
    }
}